<% provide(:site_section, "0") %>
<%= render 'shared/main_search' %>

<% if signed_in? %>

  <% if current_user.admin? | current_user.mentor? | current_user.organiser? %>
    <div id="local-map">
      <%= gmaps4rails(@json) %>
    </div>
    <div id="diary-events">
      <%= render 'diary_entries/diary_preview' %>
    </div>
    <div id="toolbox">
      <%= render 'shared/toolbox' %>
    </div>

  <% else %>
    <div id="local-map">
      <%= gmaps4rails(@json) %>
    </div>
    <div id="diary-events">
      <%= render 'diary_entries/diary_preview' %>
    </div>
    <div id="popular-tags">
    <%= render 'tags/brief_selection' %>
    </div>
  <% end %>

<% else %>

  <div id="local-map">
    <%= gmaps4rails(@json) %>
  </div>
  <div id="today-events">
    <%= render 'events/on_today' %>
  </div>
  <div id="popular-tags">
    <%= render 'tags/brief_selection' %>
  </div>

<% end %>
