<% provide(:title, "Your events") %>
<% provide(:site_section, "2") %>

    <h3><%= @title %></h3>
    <% if @calendar_entries.any? %>

      <div id="tabs">
        <ul>
          <li><a href="#upcoming"><span>Upcoming Events</span></a></li>
          <li><a href="#past"><span>Past Events</span></a></li>
          <li><a href="#favourites"><span>My Favourites</span></a></li>
        </ul>

        <div id="upcoming">
          <%= render 'events/upcoming' %>
        </div>

        <div id="past">
          <%= render 'events/past' %>
        </div>

        <div id="favourites">
          <% if @favourites.any? %>
            <ul class="events">
              <%= render @favourites %>
            </ul>
          <% else %>
            No favourites. You can add favourites on any event.
          <% end %>
        </div>

      </div>
    <% else %>
      <p>No events in your diary. <%= link_to "Hit 'Favourite' on an event", events_path %> and it'll show up here.</p>
    <% end %>
    
<br>
<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1) %>
    <%= h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1) %>
  </h2>
  <%= calendar_for(@calendar_entries, :year => @date.year, :month => @date.month) do |t| %>
    <%= t.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <%= t.day(day_method: :start_time) do |day, entries| %>
      <%= day.day %>
      <% entries.each do |entry| %>
        <% if entry.event_id>0 %>
          <%= link_to(h(entry.start_time.to_s(:time)+" "+Event.find(entry.event_id).name), Event.find(entry.event_id)) %><br>
        <% else %>
          <%= link_to entry.name, edit_diary_entry_path(entry) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
<%= button_to "New entry", new_diary_entry_path, method: 'get', class: 'btn' %>
