<% message.read! %><!-- If you're seeing this page you've viewed it! -->
<div class="tab_table message_view">
  <table>
    <tr>
      <td id="const">From</td>
      <td id="flex"><%= link_to User.find(message.sender_id).name, new_message_path(receiver_id: message.sender_id) %></td>
    </tr>
    <tr>
        <td id="const">To</td>
        <td id="flex"><%= link_to User.find(message.receiver_id).name, new_message_path(receiver_id: message.receiver_id) %></td>
    </tr>
    <tr>
        <td id="const">Subject</td>
        <td id="flex"><%= message.subject %></td>
    </tr>
    <tr>
        <td id="const">Date</td>
        <td id="flex"><%= message.created_at.to_s(:short_day) %></td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td id="const">Message</td>
        <td><%= message.message %></td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td id="const">Reply</td>
        <td><%= render "new", { user_id: message.sender_id, subject: message.subject } %></td>
    </tr>

  </table>
</div>
