<%= form_for(current_user.messages.build(receiver_id: params[:user_id], sender_id: current_user.id)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div><%= f.hidden_field :receiver_id %>
  <%= f.hidden_field :sender_id %></div>
  <div class="field">
    <%= f.text_field :subject, default: "Re: "+params[:subject].to_s %>
    <%= f.text_area :message, placeholder: "Compose new message..." %>
  </div>
  <%= f.submit "SEND", class: "btn btn-large btn-primary" %>
<% end %>
