<% provide(:title, 'Edit logbook entry') %>
<% provide(:site_section, 2) %>
<h1>Edit logbook entry</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@logbook_entry) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <% for i in 0..@questions.length-2 %>
        <p><%= @questions[i].html_safe %></p>
        <%= text_area_tag "questions#{i}", @answers[i] %>
      <% end %>
      <p><%= @questions.last.html_safe %></p>

      <%= f.submit "Save!", class: "btn btn-primary" %>

    <% end %>
      <%= button_to "Delete entry", @logbook_entry, method: 'delete', class: "btn", data: {confirm: "You sure?" } %>
  </div>
</div>

