<% provide(:title, "#{(current_user?(@user) ? "My" : @user.name+"'s")}  logbook") %>
<% provide(:site_section, "2") %>

<h1><%= (current_user?(@user) ? "My" : @user.name+"'s") %> Logbook</h1>

<% if @logbook_entries.any? %>
  <ul class="generic-list">
    <%= render @logbook_entries %>
  </ul>
<% else %>
  No logbook entries found. <%= (link_to "Create a new one!", logbook_templates_path) if current_user?(@user) %>
<% end %>

<%= (button_to "New logbook entry", logbook_templates_path, method: 'get', class: 'btn') if current_user?(@user) %>

<%= (button_to "Back to logbook management", logbook_overview_path, method: 'get', class: 'btn') unless current_user?(@user) %>