<% provide(:title, 'Create logbook entry') %>
<% provide(:site_section, 2) %>
<h1>New logbook entry</h1>
<div class="row">
  <%= form_for(@logbook_entry) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.hidden_field :template_id, value: @template.id %>

    <% for i in 0..@questions.length-2 %>
      <p><%= @questions[i].html_safe %></p>
      <%= text_area_tag "questions#{i}" %>
    <% end %>
    <p><%= @questions.last.html_safe %></p>


    <%= f.submit "Save to logbook", class: "btn btn-primary" %>
  <% end %>
</div>
