<% provide(:title, "Logbook management") %>
<% provide(:site_section, "2") %>

<h1>Manage logbooks</h1>

<div class="searchbox">
  <%= form_tag logbook_overview_path, method: 'get', id: "user_search" do %>
    <%= hidden_field :school, value: current_user.school %>
    <li class="searchsbox"><%= text_field_tag :search, params[:search], placeholder: "Search by name", id: "searchbox" %></li>
    <li class="searchsbox"><%= submit_tag "Search", name: nil, class: "btn", id: "searchbtn" %></li>
  <% end %>
</div>

<div id="user_results">
	<table>
	<tr>
		<td>Name</td>
		<% @sessions.each do |session| %>
			<td><%= session.deadline.to_s(:short) %></td>
		<% end %>
	</tr>
	<%= render 'user_results' %>
	</table>
</div>