<div class="request">
<h4><%= link_to user.name, user %></h4>

<table>
  <tr>
    <td>Total logbook entries</td>
    <td><b><%= user.logbook_entries.length %></b></td>
  </tr>
  <tr>
    <% if (user.mentor_meetings == 0) %>
        <td class="red">Number of mentor meetings</td>
        <td class="red"><b><%= user.mentor_meetings %></b></td>
      <% else %>
        <td>Number of mentor meetings</td>
        <td><b><%= user.mentor_meetings %></b></td>
      <% end %>
  </tr>
  <tr>
  	<td><%= link_to "View logbook", user_logbook_entries_path(user) %></td>
  </tr>
</table>

</div>
