<% if me_admin? %>
  <%= will_paginate @users %>
  <% @user_array.each do |school_list| %>
    <ul class="generic-list">
      <% if school_list[1].any? %>
        <h4><%= school_list[0] %></h4>
        <%= render school_list[1] %>
      <% end %>
    </ul>
  <% end %>
  <%= will_paginate @users %>

<% else %>
  <h4><%= current_user.school_name %></h4>
  <% if @users.any? %>
    <ul class="generic-list">
      <%= will_paginate @users %>
      <%= render @users, size: 52 %>
      <%= will_paginate @users %>
    </ul>
  <% else %>
    No users at this school.
  <% end %>
<% end %>

