<% provide(:title, "Edit user") %>
<% provide(:site_section, "2") %>
<h1>Update profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= avatar_for @user %>

      <% if current_user.id == @user.id %>

        <a href="http://gravatar.com/emails">change</a>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :home_address %>
        <%= f.text_field :home_address %>

        <%= f.label :home_postcode %>
        <%= f.text_field :home_postcode %>

        <h2>Personal</h2>

        <%= f.label :about, "About Me" %>
        <%= f.text_area :about %>

        <%= f.label :interests, "My Interests" %>
        <%= f.text_area :interests %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>

      <% else %>

        <p><%= @user.name %></p>

      <% end %>

      <%= f.label :school, "School code" %>
      <small>If you've been given a special code for your school, enter it here!</small>
      <%= f.text_field :school %>

      <% if (current_user.id != @user.id) && me_admin? %>

        <%= f.label :role %>
        <%= f.collection_select :role, User::ROLES, :to_s, :humanize %><br>

      <% end %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
