<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :school, "School:" %>
      <%= f.text_field :school %>

      <%= f.label :home_address, "Address:" %>
      <%= f.text_field :home_address %>

      <%= f.label :home_postcode, "Postcode:" %>
      <%= f.text_field :home_postcode %>
      <small>These aren't necessary but will give you info about your nearest events and venues.</small>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "CREATE MY ACCOUNT", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
