<div id="mega-search">
  <%= search_form_for @search do |f| %>
    <ul>
    <li>
    <small><%= f.label :gender_not_cont, "Find activites near you:" %></small>
    <%= f.text_field :gender_not_cont %></li>
    <li>
    <small><%= f.label :tags_name_or_name_or_description_cont, "Or search by activity:" %></small>
    <%= f.text_field :tags_name_or_name_or_description_cont %></li>
    <li><%= f.submit "Search", class: "btn btn-primary btn-mega-search" %></li></ul>
  <% end %>
</div>
