<h3>Toolbox</h3>
<% unless current_user.role=="teacher" %>
  <%= button_to "New event", new_event_path, method: 'get', class: 'btn btn-primary' %>
  <%= button_to "New venue", new_venue_path, method: 'get', class: 'btn btn-primary' %>
<% end %>
<% unless current_user.role=="organiser" %>
  <%= button_to "Manage users", users_path, method: 'get', class: 'btn btn-primary' %>
<% end %>
<%= button_to "Create news article", new_article_path, method: 'get', class: 'btn btn-primary' %>
<%= button_to "Approve reviews", approve_reviews_path, method: 'get', class: 'btn btn-primary' %>
