<% if @past_events.any? %>
  <div class="tab_table">
    <%= table_for(@past_events) do |t| %>
      <%= t.body do |listing| %>
        <% event = Event.find(listing.event_id) %>
        <%= t.r do %>
          <% if listing.class.name.eql?("DiaryEntry") %>
            <%= t.d(h(listing.start_time.to_s(:day_week_month))) %>
          <% else %>
            <%= t.d(h("Every #{Date::DAYNAMES[listing.start_time.wday]} since #{listing.start_time.to_s(:short)}")) %>
          <% end %>
          <%= t.d(h(link_to event.name, event)) %>
          <%= t.d(h(link_to event.venue.name, event.venue)) %>
          <%= t.d(h(listing.start_time.to_s(:time_day))) %>
        <% end %>
      <% end %>
    <% end %>
  </div>

<% else %>
  <p>You haven't attended any events.</p>
<% end %>
