<h4>Upcoming events</h4>

<% if @upcoming_events.any? %>
  <div class="tab_table">
    <%= table_for(@upcoming_events) do |t| %>
      <%= t.body do |listing| %>
        <% if listing.event_id > 0 %>
          <% event = Event.find(listing.event_id) %>
          <%= t.r do %>
            <% if listing.class.name.eql?("DiaryEntry") %>
              <%= t.d(h(listing.start_time.to_s(:day_week_month))) %>
            <% else %>
              <%= t.d(h("Every #{Date::DAYNAMES[listing.start_time.wday]}")) %>
            <% end %>
            <%= t.d(h(link_to event.name, event)) %>
            <%= t.d(h(link_to event.venue.name, event.venue)) %>
            <%= t.d(h(listing.start_time.to_s(:time_day))) %>
            <%= t.d(h("Attending")) %>
          <% end %>
        <% else %>
          <%= t.r do %>
            <%= t.d(h(listing.start_time.to_s(:day_week_month))) %>
            <%= t.d(h(link_to listing.name, edit_diary_entry_path(listing))) %>
            <%= t.d(h(listing.location.to_s)) %>
            <%= t.d(h(listing.start_time.to_s(:time_day))) %>
            <%= t.d(h("Attending")) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

<% else %>
  <p>No upcoming events. <%= link_to "Join events", events_path %> and they'll appear here.</p>
<% end %>
