<% provide(:title, "Edit "+@event.name) %>
<h1>Update event details for <%= @event.name %></h1>

<%= nested_form_for(@event) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label 'Where?' %>
  <%= @venues = Venue.all 
  f.collection_select( :venue_id, @venues, :id, :name ) %>

  <%= f.label :description %>
  <%= f.text_area :description %>
  <!-- BELOW start_time and end_time are deprecated, degenerating, and despicable. Delete! -->
  <%= f.label :start_time %>
  <%= f.datetime_select :start_time, :minute_step => 5 %>

  <%= f.label :end_time %>
  <%= f.time_select :end_time, :minute_step => 5 %>

  <% f.fields_for :timings do |timing_form| %>
    <%= timing_form.label :start_time, "Start time (galactic standard):" %>
    <%= timing_form.datetime_select :start_time, :minute_step => 5 %>
    <br>
    <%= timing_form.label :end_time, "End time (ignoring post-meet tea):" %>
    <%= timing_form.datetime_select :end_time, :minute_step => 5 %>
    <%= timing_form.link_to_remove "Remove" %>
  <% end %>

  <%= f.link_to_add "Add session", :timings %>

  <%= f.label :gender %>
  <%= f.select :gender, [['Both'],['Female'], ['Male']] %>

  <%= f.label :contact %>
  <%= f.text_field :contact %>

  <%= f.label :website %>
  <%= f.text_field :website %>


      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @event %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>
