<% provide(:title, "Edit "+@event.name) %>
<% provide(:site_section, 2) %>
<h1>Update event details for <%= @event.name %></h1>
<div class="row">
  <div class="span6 offset3">

<%= nested_form_for(@event) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label 'Where?' %>
  <%= @venues = Venue.all 
  f.collection_select( :venue_id, @venues, :id, :name ) %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.fields_for :timings do |timing_form| %>
    <%= timing_form.label :start_time, "Start time (galactic standard):" %>
    <%= timing_form.datetime_select :start_time, :discard_year => true, :minute_step => 5 %>
    <br>
    <%= timing_form.label :end_time, "End time (ignoring post-meet tea):" %>
    <%= timing_form.datetime_select :end_time, :discard_year => true, :discard_month => true, :discard_day => true, :minute_step => 5 %>
    <%= timing_form.link_to_remove "Remove" %>
  <% end %>

  <%= f.link_to_add "Add session", :timings %>

  <%= hidden_field_tag "event[tag_ids][]", "" %>

  <div class="tags_select">
    <% Tag.all.each do |tag| %> 
      <li>
      <%= check_box_tag :tag_ids, tag.id, @event.tags.include?(Tag.find(tag.id)), :id => "tag_check_#{tag.id}", :name => 'event[tag_ids][]' %>
      <%= label_tag "tag_check_#{tag.id}", tag.name %> 
      </li>
    <% end %>
  </div>

  <%= f.label :gender %>
  <%= f.select :gender, [['Both'],['Female'], ['Male']] %>

  <%= f.label :contact %>
  <%= f.text_field :contact %>

  <%= f.label :website %>
  <%= f.text_field :website %>

  <%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>
</div>
</div>
