<% provide(:title, @event.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= button_to "Back to events", events_path, method: 'get', class: "btn" %>
      <br>
      <%= image_tag "generic_event.jpg", alt: "Event picture", class: "image" %>
      <% if @event.tags.any? %>
        <h3>Categories: <%= @event.tags.count %></h3>
        <ul class="tags">
          <%= render @tags, width: 50, withnames: false %>
        </ul>
        <%= will_paginate @tags %>
      <% else %>
        <p>No categories yet.</p>
      <% end %>
      <%= render 'reviews/new' if signed_in? %>
    </section>

  </aside>
  <div class="span7">
    <h1><%= @event.name %></h1> 
      <% if admin? || organiser?(@event) %>
        <%= link_to "Edit", edit_event_path(@event) %>
      <% end %>
    <section>
      <table>
        <tr>
          <td><b>Time:</b></td>
          <td><%= @event.get_day_info %></td>
        </tr>
        <tr>
          <td><b>Cost:</b></td>
          <td><%= @event.cost.to_i==0 ? 'Free' : (@event.cost/100.0).to_s(:currency, unit: '£') %> (<%= @event.cost_details %>)</td>
        </tr>
        <tr>
          <td><b>Gender:</b></td>
          <td><%= @event.gender.to_s %></td>
        </tr>
        <tr>
          <td><b>Contact:</b></td>
          <td><%= @event.contact.to_s %></td>
        </tr>
        <tr>
          <td><b>Website:</b></td>
          <td><%= link_to @event.website.to_s, @event.website %></td>
        </tr>
      </table>
    </section>
    <div id="week_view">
      <%= render 'week_view' %>
    </div>
    <section>
      <%= @event.description.to_s %>
    </section>
    <section>
      <p><b><%= link_to @event.venue.name.to_s, @event.venue %></b>, <%= @event.venue.street_address.to_s+", "+@event.venue.postcode.to_s %></p> 
      <%= gmaps( :markers => {:data => @json}, 
                 :map_options => {:auto_zoom => false, :zoom => 15 }
                 ) %>
    </section>
    <section>
      <h3>Reviews:</h3>
        <% if @reviews.any? %>
          <% av = 0 %>
          <% @reviews.each {|r| av += r.stars.to_i } %>
          Average: <b><%= av/@reviews.count %>/5</b>
          <ul class="generic-list">
            <%= render @reviews %>
          </ul>
          <%= will_paginate @reviews %>
        <% else %>
          No reviews yet.
        <% end %>
    </section>
  </div>
</div>
