<% provide(:title, "Edit "+@venue.name) %>
<% provide(:site_section, "2") %>
<h1>Update venue profile for <%= @venue.name %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@venue) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <% if current_user.admin? %>
        <%= f.check_box :is_school %>
        <%= f.label :is_school, "School?" %>
      <% end %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :street_address %>
      <%= f.text_field :street_address %>

      <%= f.label :postcode %>
      <%= f.text_field :postcode %>

      <%= f.label :contact %>
      <%= f.text_field :contact %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
