<% type = @venue.schools.length > 0 ? "school" : "venue" %>
<% provide(:title, 'New '+type) %>
<% provide(:site_section, "2") %>
<h1>Create new <%= type %></h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@venue) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :street_address %>
      <%= f.text_field :street_address %>

      <%= f.label :postcode %>
      <%= f.text_field :postcode %>

      <%= f.label :contact %>
      <%= f.text_field :contact %>

      <%= f.fields_for :schools do |school_form| %>
        <%= render 'venues/school_fields', f: school_form %>
      <% end %>

      <%= f.submit "Create venue", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
