<%= provide :title, 'New diary entry' %>
<%= provide :site_section, 2 %>
<h1>Edit diary entry</h1>

<%= form_for @diary_entry do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :start_time %>
  <%= f.datetime_select :start_time, :minute_step => 5 %>

  <%= f.submit "Save", class: 'btn btn-primary' %>
<% end %>
  <%= button_to "Delete", @diary_entry, method: :delete, data: { confirm: "You sure?" }, class: 'btn' %>


