<h1>Add a review</h1>

<%= form_for @review do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.collection_select :event_id, @events, :id, :name, prompt: "Select event to review" %>
    <%= f.text_field :title, placeholder: "Title" %>
    Score: <%= f.select :stars, (1..5) %>/5
    <%= f.text_area :content, placeholder: "Write a review..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
