<% provide(:title, 'Edit template') %>
<% provide(:site_section, 2) %>
<h1>Edit template</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@logbook_template) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :content %>
      <%= f.text_area :content %>

      <% if me_admin? %>
        <%= f.label :school_id, "School" %>
        <%= f.collection_select( :school_id, School.all, :id, :name ) %>
        <br><small>This template will only be visible to students at this school. If you want one template to be visible to multiple schools, make separate templates for each school.</small>
      <% else %>
        <%= f.hidden_field :school_id, value: current_user.school_id %>
      <% end %>

      <%= f.label :start_time %>
      <%= f.date_select :start_time %>

      <%= f.label :deadline %>
      <%= f.date_select :deadline %>

      <%= f.submit "Save template", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
